body{
    background-color: #382f4a;
}
h1, h2 {
    border-style: hidden;
}

h1 {
    /*background-color: darkslategray;*/
    width: initial;
    padding: 50px;
    margin: 300px;
    color: #a7b0b0;
    font-family: "Lucida Handwriting", cursive;
}

h3.link {
    position: fixed;
    left: 0;
    top: 0;
    width: 100px;
    max-height: 70px;
    overflow:hidden;
    background-color: #282236;
    margin: 0px;
    padding: 0px;
    font-family: "Lucida Handwriting", cursive;
    z-index: 1;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    width: 100%;
    max-height: 70px;
    position: fixed;
    background-color: #282236;
    right: 0;
    top: 0;
    z-index: 0;
}


li {
    position: relative;
    margin: 0px;
    float: right;
    background-color: #282236;
    height: 70px;
}

a.nav {
    text-decoration: none;
    display: block;
    color: #a7b0b0;
    height: 70px;
}

li a.nav {
    text-align: right;
    font-family: "Courier New", monospace;
    padding: 25px 50px;
    font-size: 1.1em;
}

h3 a.nav {
    text-align: left;
    padding: 25px;
    font-size: 1em;
}

a.nav:hover {
    background-color: #2f3157;
}

